* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
}

.display,
button {
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
  height: 80px;
}

.display {
  padding: 0 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 80px;
  font-size: 25px;
}

button:hover {
  background-color: #f1f1f1;
}

button:active {
  background-color: #d1d1d1;
}

.row {
  display: flex;
  gap: 10px;
}

#zero,
.equal {
  flex: 1;
}